/*partie populaire*/

.populaire{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 2%;
    width: 30%;
}

.titlepopulaire{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 7%;
    font-size: 24px;
}


.titlepopulaireIcon{
    margin-top: 10px;
    margin-right: 10%;
}


.titlepopulaireOne{
    font-size: 10px;
    font-weight: bold;
    margin-left: 3%;
}

.popular__images{
    width: 120px;
    height: 130px;
    margin-top: 4px;
    margin-left: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
    object-position:center;
}

.popularcardImage{
    width: 130px;
}

.populairecards{
    display: flex;
    flex-direction: column;
}

.popularcard{
    display: grid;
    grid-template-columns: 34% 45%;
    margin-left: 10%;
    margin-bottom: 10%;
    background-color: white;
    width: 80%;
    border-radius: 15px;   
}

.popularcardContent{
    font-family: 'Raleway', sans-serif;
    width: 133px;
    font-size: 11px;
    margin-left: 35%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
/*Popular icons*/
.popularcardIcons{
    color: #0065FC;
    padding-top: 25%;
}

.four{
    color: #DEEBFF;
}

.fivestar{
    color: #DEEBFF;
}

@media screen and (max-width: 375px){
    .populaire{
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        width: 100%;
        border-radius: 0%;
    }

    .popular__images{
        width: 130px;
        height: 140px;
        margin-top: 4px;
        margin-left: 5px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        object-fit: cover;
        object-position:center;
    }

    .popularcard{
        margin-bottom: 3%;
        margin-left: 5%;
        width: 90%;
    }

    .popularcardContent{
        margin-left: 30%;       
    }
    
    .titlepopulaire{
        margin-left: 4%;
    }

    .titlepopulaireOne{
        margin-left: 0%;
    }

    .titlepopulaireIcon{
        margin-right: 5%;
    }
    

}

@media screen and (max-width: 768px){
    .populaire{
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        width: 100%;
    }

    .popularcardContent{
        width: 182px;
        font-size: 17px;
    }

    .popular__images{
        width: 272px;
        height: 236px;
        margin-top: 4px;
        margin-left: 5px;
    }
}