/* Cards */

.firstgroupcards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%; 
    margin-left: 3%;
}

@media screen and (max-width: 480px){
    .firstgroupcards{
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0%;
        width: 100%;
    }    
}

/*@media screen and (max-width: 991px){
    
}*/