/*l'entête de mon site web*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%; 
    margin-left: 3%;
}
figure{
    display: flex;
    margin: 0%;
}

.image__logo{
    display: flex;
    width: 30%;
}

.navigation{
    display: flex;
    flex-direction: column;
    margin-left:39%;
}

.heb1{
    margin-right: 15%;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;         
}

nav ul li{     
    padding-left: 15%;     
}

a{
    color: black;  
}

a:link{
    text-decoration: none;    
}


.lien__navigation:hover{
    color: #0065FC;
    border-top:1px solid #0065FC;
    padding-top: 25px;
}

.login{
    color: #0065FC;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
}