
/*la partie: champs de recherche*/
.recherche{ 
    margin-left: 3%; 
    width: 94%;     
    margin-bottom: 2%;
    margin-left: 3%;
}

.recherche__texte1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0%;
}

.recherche__texte2{
    font-size: 17px;
    margin-top: 2px;
}

.recherche__champ{ 
    width: 540px;
    border-radius: 20px;  
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;    
}

.recherche__champIcon{
    width: 50px;
    height: 40px;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #F2F2F2;
}

input{
    border: none;
    width: 315px;
    height: 40px;
    box-shadow: 1px solid gray;  
}

input::placeholder {
    color: black;
}

.recherche__champTexte{    
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 80px;
    height: 40px;  
    background-color: #0065FC;
    color: white;
    border: none;
    font-weight: bold;
}

.recherche__champTexte::after{
    font-family: 'font Awesome 5 free';
    content: 'Recherche';    
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

@media screen and (max-width: 480px){
    .recherche{ 
        width: 100%;     
        margin-bottom: 2%;
        margin-left: 0%;
    }
    

.recherche__texte1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0%;
}

.recherche__texte2{
    font-size: 25px;
    margin-top: 5px;
}

.recherche__champ{ 
    width: 365px;
    border-radius: 7px;  
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;    
}


input{
    width: 58%;
    border: none;
    height: 30px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    box-shadow: 1px solid gray;  
}

input::placeholder {
    color: black;
  }

.recherche__champTexte{ 
    border-radius: 20px;
    width: 60px;
    height: 60px;  
    background-color: #0065FC;
    color: white;
    border: none;
    font-weight: bold;
}

.recherche__champIcon{
    width: 60px;
    height: 60px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #F2F2F2;
}

.recherche__champTexte::after{
    font-family: 'font Awesome 5 free';
    content: '\f002';
}
}

@media screen and (max-width: 991px){
    
}