@media screen and (max-width: 768px){
    /*Le site entier*/
    .mysiteweb{
        font-family: 'Raleway', sans-serif;
        margin-top: 2%;
        padding-top: 0%;
        margin-left: 0%;
    }    

    /*header*/
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0%;
        padding-left: 0%;
    }

    .logo{
        display: flex;
        justify-content: center;
        order: 1; 
        width:100%;  
    }

    .image__logo{
        display: flex;
        width: 40%;
        margin-left: 30%;
    }

    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5%;
        margin-left: 0%;
        width: 80%;
        order: 2;    
    }  

    .heb1{
        margin-right: 0%;
    }

    .heb2{
        padding-left: 113%;
    }

    .login{
        color: #0065FC;
        font-weight: bold;
        font-size: 18px;
        order: 3;
        padding-top: 35px;
        margin-right: 5%;
    }

    /* La partie filtres*/
    .mainfiltres {
        display: flex;
        flex-direction: column;
    }

    .filtresgroup {
        display: flex;
        align-items: self-start;
        flex-direction: column-reverse;
    }

   /*div englobant hebergements et populaires*/
   .firstgroupcards{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    width: 100%;
}   

   /*La partie hebergements*/
   .hebergement{
    display: flex;
    flex-direction: column; 
    width: 100%;
    }

    .cardshebergement{
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        margin-right: 3%;
        margin-left: 3%;
    }

    /*La partie populaires*/
    .populaire{
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        width: 100%;
    }

    .popularcardContent{
        width: 182px;
        font-size: 17px;
    }

    .popular__images{
        width: 272px;
        height: 236px;
        margin-top: 4px;
        margin-left: 5px;
    }


   /*La partie activité*/ 
    .cardsactivite {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-gap: 6%;
    }

    /*footer*/
    footer{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .footer__hebergement{
        margin-left: 3%;
    }

    .footer__assistance{
        margin-left: 3%;
    }


}