/*mon site web*/
.mysiteweb{
    font-family: 'Raleway', sans-serif;
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 2%;
    padding-top: 0%;
    width: 90%;
  
}

/*l'entête de mon site web*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-left: 5%;
}
figure{
    display: flex;
    margin: 0%;
}

.logoimg{
    display: flex;
    width: 30%;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    width: 50%;
    
}


nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;         
}

nav ul li{     
    padding-left: 15%;     
}

a{
    color: black;  
}

a:hover{
    color: #0065FC;
}

a:link{
    text-decoration: none;    
}

.lien__navigation:hover{
    color: #0065FC;
    border-top:1px solid #0065FC;
    padding-top: 25px;
}

.login{
    color: #0065FC;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
}
/*la partie: champs de recherche*/
.recherche{ 
    margin-left: 5%; 
    margin-bottom: 2%;
}

.recherche__texte1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0%;
}

.recherche__texte2{
    font-size: 17px;
    margin-top: 2px;
}

.recherche__champ{ 
    width: 359px;
    border-radius: 7px;  
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;    
}

.recherche__champIcon{
    width: 50px;
    height: 40px;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #F2F2F2;
}

input{
    border: none;
    width: 200px;
    height: 40px;
    box-shadow: 1px solid gray;  
}

.recherche__champTexte{    
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 100px;
    height: 40px;  
    background-color: #0065FC;
    color: white;
    border: none;
    font-weight: bold;
}

.recherche__champTexte::after{
    font-family: 'font Awesome 5 free';
    content: 'Recherche';    
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

/*Filtres*/
.filtres{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 2%;    
}

.allfiltres{
    display: flex;
}

.filtrestitle{
    font-weight: bold;
    margin-right: 30px;
}

.filtresgroup{
    display: flex;
    align-items: self-start;
}

.filtresgroup__first{
    display: flex;
}

.filtresgroup__last{
    display: flex;
}

.filtresIcon {
    color:#0065FC;
    padding: 10px;
    width: 15px;
    background-color: #DEEBFF;    
    border-radius: 50%;    
}

.groupefiltresIcon{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-left: 0%; 
    margin-right: 20px;
    Margin-top: 5%;
    background-color: white;
    border: 5px #F2F2F2;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;    
    border-radius: 50px;
}

.groupefiltresIcon:hover{
    color: white;
    background-color: #0065FC;
}

.filtrefooterIcon {     
    color: #0065FC;
    border-top: 1px solid #F2F2F2;
    width: 10px;
    height: 15px;
    padding: 3px;
    padding-left: 9px;
    border-left: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-right:1px solid #F2F2F2;
    border-radius: 50%;
    margin-right: 5px;
}

/* Cards */

.allcards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Hebergements Cards*/

.img__hebergement{
    width: 95%;
    height:6rem;
    border-top-left-radius: 5%;    
    border-top-right-radius: 5%; 
    object-fit: cover;
    object-position: left;
    margin-left: 5px;
    margin-top: 2%;

    
}

.hebergement{
    display: flex;
    flex-direction: column;
    width: 58%;
    margin-left: 5%;
    background-color: #F2F2F2;
    border-radius: 2%;
}

.headerhebergement__title{
    font-size: 22px;
    font-weight: bold;
    padding-top: 5%;
    padding-left: 4%;
    margin-top: 0%;
}

.cardshebergement{
    display:grid;
    grid-template-columns: 30% 30% 30%; 
    justify-content: space-between;    
    margin-left: 3%;
    margin-right: 3%;
}    

.cardsheb{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    background-color: white;
    border-radius: 5%;
    margin-bottom: 13%;
}

.cardhebergement__content{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    margin-top: 0%;
    padding-top: 0%;
    padding-left: 5%;
    padding-bottom: 5%;
}

.hebergementcardIcons{
    color: #0065FC;
}

.five{
    color: #DEEBFF;
}

.hebergementfooter{
    font-size: 18px;  
    padding-left: 4%;
    font-weight: bold;     
}
/*partie populaire*/

.populaire{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 2%;
    width: 35%;
    margin-left: 5%;
}

.titlepopulaire{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 7%;
    padding-top: 5%;
    font-size: 24px;
}


.titlepopulaireIcon{
    margin-top: 2%;
    margin-right: 16%;
}


.titlepopulaireOne{
    font-size: 10px;
    font-weight: bold;
    margin-left: 3%;
}

.popular__img{
    width: 110px;
    height: 120px;
    margin-top: 4px;
    margin-left: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
    object-position:center;
}

.populairecards{
    display: flex;
    flex-direction: column;
}

.popularcard{
    display: grid;
    grid-template-columns: 34% 45%;
    margin-left: 10%;
    margin-bottom: 10%;
    background-color: white;
    width: 75%;
    border-radius: 15px;   
}

.popularcardContent{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    margin-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
/*Popular icons*/
.popularcardIcons{
    color: #0065FC;
    padding-top: 15%;
}

.four{
    color: #DEEBFF;
}

.fivestar{
    color: #DEEBFF;
}

/*activites cards*/

.activite{
    display: flex;
    flex-direction: column;  
    margin-left: 5%;
    margin-top: 5%;
}

.titleactivite{
    font-size: 24px;
    font-weight: bold;
}
/* Cards activité*/

.cardsactivite{
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
    justify-content: space-between; 
}
 /*prémière div et en même temps carte activités*/
.cardsactivite__vieuxport{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    border-radius: 20px;
}



.PremierImgActivity{
    width: 100%;
    height:275px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom:2%;
}

.activite__content{
    font-size: 10px;
    font-weight: bolder;
    height: 15%;
    padding-left:5%;
}
*/
/*Deuxième div activités*/

.cardsactivite__twoo{
    display: grid;
    grid-template-columns: column;   
}

/*Deuxième div activités*/

.cardsactivite__fort{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    border-radius: 20px;
    margin-bottom: 10%;
}
.DeuxiemeImgActivite{
    width: 100%;
    height: 120px;
    object-fit: cover;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*Troisièeme div activités*/

.cardsactivite__iles{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    border-radius: 20px;
}

.TroisiemeImgActivite{
    width: 100%;
    height: 100px;
    object-fit: cover;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*Quatrième div activités*/
.cardsactivite__park{    
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    border-radius: 20px;
}
.QuatriemeImgActivite{
    width: 100%;
    height: 275px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/*Cinquieme div actiivités*/
.notredame{    
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    border-radius: 20px;
    margin-bottom: 15%;
}

.CinquiemeImgActivite{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*Sixième div activité*/

.cardsactivite__longchamp{
    display: flex;
    flex-direction: column;    
    width: 100%;
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    border-radius: 20px;
}

.SixiemeImgActivite{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


footer{
    font-family: 'Raleway', sans-serif;
    display: flex;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    background-color: #f2f2f2;
}

.footer__apropos{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.footer__hebergement{
    display: flex;
    flex-direction: column;
    margin-left: 13%;
}
.footer__assistance{
    display: flex;
    flex-direction: column;
    margin-left: 17%;
    margin-bottom: 0%;
}

.footertitle{
    font-size: 18px;
}

footer ul{
    display: flex;
    flex-direction: column;
    padding-left: 0%;
    list-style-type: none;  
}

footer ul li{
    padding-bottom: 4%;
}

.lien__footer{
    color:black;
}

.lien__footer:hover{
    color: #0065FC;
}

.lien__footer:link{
    text-decoration: none;    
}
