/*le site entier*/
.mysiteweb {
    font-family: 'Raleway', sans-serif;
    margin-top: 2%;
    width: 90%;
    margin-left: 5%;
    margin-right: 4%;
}    
    
@media screen and (max-width: 480px){
    .mysiteweb{
        font-family: 'Raleway', sans-serif;
        margin-top: 2%;
        padding-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }
}


@media screen and (min-width: 481px) and (max-width: 1099px){
    .mysiteweb{
        font-family: 'Raleway', sans-serif;
        margin-top: 2%;
        padding-top: 0%;
        margin-left: 0%;
    } 
}

/*l'entête de mon site web*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%; 
    margin-left: 3%;
}

.logo{
    width: 30%;
    margin-top: 7px;
}

figure{
    display: flex;
    margin: 0%;
}

.image__logo{
    display: flex;
    width: 100px;
}

.navigation{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    padding-top: 1%;
    width: 54%;  
}

.heb1:hover{
    border-top:1px solid #0065FC;
    padding-bottom: 0%;
}

.heb1{
    padding-top: 2%;
}

.heb2{
    padding-top: 2%;
    margin-left: 8%;
}

.heb2:hover{
    color: #0065FC;
    border-top:1px solid #0065FC;
    padding-bottom: 0%;
}

a{
    color: black;
}

a:hover{
    color: #0065FC;
}

a:link{
    text-decoration: none;    
}

.login{
    color: #0065FC;
    font-weight: bold;
    margin-top: 2%;
}
@media screen and (max-width: 480px){
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0%;
    }
    
    .logo{
        display: flex;
        order: 1; 
        width:50%;  
        margin-top:1%;
        padding-right: 10%;
    }
    
    .image__logo{
        display: flex;
        width: 120px;
    }
    
    .navigation{
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        margin-left: 0%;
        width: 100%;
        order: 3;    
    } 
    
    
    .heb1{
        display: flex;
        margin-right: 0%;
        width: 50%;
        justify-content: center;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 4%;
        padding-top: 0%;
    }

    .heb1:hover{
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding-top: 0%;
        padding-bottom: 0%;
        padding-top: 0%;
    }
    
    .heb2{
        display: flex;
        width: 50%;
        justify-content: center;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 4%;
        margin-left: 0%;        
        padding-top: 0%;
    }

    .heb2:hover{
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding-top: 0%;
        padding-bottom: 0%;
        padding-top: 0%;
    }
    
    .login{
        color: #0065FC;
        font-weight: bold;
        font-size: 18px;
        order: 2;
        padding-top: 5%;
        margin-right: 5%;
    }
}

@media screen and (min-width: 481px) and (max-width: 1099px){
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0%;
        padding-left: 0%;
    }

    .logo{
        display: flex;
        justify-content: center;
        order: 1; 
        width:100%;  
    }

    .image__logo{
        display: flex;
        width: 40%;
        margin-left: 30%;
    }

    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5%;
        margin-left: 3%;
        width: 53%;
        order: 2;    
    }  

    .heb1{
        margin-right: 0%;
        font-size: 20px;
    }

    .heb2{
        font-size: 20px;
        margin-left: 20%;
    }

    .login{
        font-weight: bold;
        font-size: 20px;
        order: 3;
        padding-top: 5%;
        margin-right: 5%;
    }
}


/*Input desktop*/
.recherche{ 
    margin-left: 3%; 
    width: 100%;     
    margin-bottom: 2%;
    margin-left: 3%;
}

.recherche__texte1{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0%;
}

.recherche__texte2{
    font-size: 20px;
    margin-top: 2px;
}

.recherche__champIcon{
    width: 55px;
    height: 50px;
    border: none;
    margin-right: -5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
}

input{
    border: none;
    width: 19%;
    height: 50px;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #F2F2F2;
    font-size: 15px;
    font-weight: bold;
    font-family:'Raleway', sans-serif;
    color: black;
}

input::placeholder {
    color: black;
}

.recherche__champTexte{    
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 7%;
    height: 50px;  
    background-color: #0065FC;
    color: white;
    border: none;
    font-weight: bold;
    margin-left: -5px;
}

.recherche__champTexte::after{
    font-family: 'font Awesome 5 free';
    content: 'Recherche';    
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

@media screen and (min-width: 1100px) and (max-width: 1290px){
    .recherche__champTexte::after {
        font-size: 11px;
    }
}

/*Input mobile*/
@media screen and (max-width: 480px){
    .recherche{ 
        width: 96%;     
        margin-bottom: 2%;
        margin-left: 0%;
        padding-left: 4%;
    }

    .recherche__texte1{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 0%;
    }
    
    .recherche__texte2{
        font-size: 18px;
        margin-top: 5px;
    }
    
    input{
        width: 65%;
        border: none;
        height: 50px;
        font-size: 15px;
        color: black;
        font-weight: bold;    
        border-top: 2px solid #f2f2f2;
        border-bottom: 2px solid #F2F2F2;
    }
    
    input::placeholder {
        color: black;
      }
    
    .recherche__champTexte{ 
        border-radius: 17px;
        width: 50px;
        height: 50px;  
        background-color: #0065FC;
        color: white;
        border: none;
        font-weight: bold;
        margin-left: -15px;
    }
    
    .recherche__champIcon{
        width: 50px;
        height: 50px;
        border: none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: #F2F2F2;
    }
    .recherche__champTexte::after{
        font-family: 'font Awesome 5 free';
        content: '\f002';
    }
}
/*Tablette input*/
@media screen and (min-width: 481px) and (max-width: 1099px){

    .recherche__champ{
        display: flex;
    }  

    .recherche__texte2{
        font-size: 24px;
        margin-top: 2px;
    }

    input{
        width: 32%;
    } 

    .recherche__champTexte::after{
        font-family: 'font Awesome 5 free';
        content: '\f002';
    }
}

/*Filtres desktop*/
.filtres{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.mainfiltres{
    display: flex;
}

.filtrestitle{
    width: 7%;
    font-size: 20px;
    font-weight: bold;
}

.filtresgroup{
    display: flex;
    width: 87%;
}

.filtresgroup__first{
    display: flex;
    width: 34%;
    margin-right: 2%;
}

.filtresgroup__last{
    display: flex;
    width: 40%;
}

.filtres__romantique{
    margin-right: 5%;
}

.groupefiltresIcon{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-right: 17%
}

.touslesfiltres{
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    height: 3rem;
}

.touslesfiltres:hover{
    color: white;
    background-color: #0065FC;
}

.filtrestexte{
    font-size: 1rem;
    font-weight: bold;
}


.filtresIcon{
    color: #0065FC;
    background-color: #DEEBFF;
    margin-right: 2%;    
    border-radius: 50px;
}

.filtres__economique{
    margin-right: 5%;
    width: 11rem;
}

.fa-money-bill-wave{
    padding-left: 43%;
    padding-right: 43%;
    padding-top: 50%;
    padding-bottom: 50%;
    font-size: 22px;    
}

.filtres__familial{
    width: 10rem;
    margin-left: 5%;
}

.fa-child{
    padding-left: 80%;
    padding-right: 80%;
    padding-top: 60%;
    padding-bottom: 60%;
    font-size: 25px;
    margin-right: 5%; 
}

.filtres__romantique{
    width: 11rem;
    margin-right: 8%;
}

.filtres__familialIcon{
    margin-right: 27%;
}

.fa-heart{
    padding: 55%;
    font-size: 23px;   
    margin-right: 5%; 
}

.filtres__romantiqueIcon{
    margin-right: 23%;
}

.filtres__animaux{
    width: 14rem;
}

.fa-dog{
    font-size: 24px;
    padding: 47%;
}

.fa-info{
    border: 2px solid #f2f2f2;    
    border-radius: 50px;
    color: #0065FC;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 1%;
}
.filtrefooter{
    margin-right: 7px;
}

.footerfiltre{
    display: flex;
}

.filtrefooter__texte{
    margin-top: 23px;
}

@media screen and (min-width: 1100px) and (max-width: 1335px){ 
    .filtrestexte {
        font-size: 72%;
        font-weight: bold;
    }   
}

/*Mobile filtres max-width:480px*/
@media screen and (max-width: 480px){
    .mainfiltres {
        display: flex;
        flex-direction: column;
    }

    .filtresgroup {
        display: flex;
        width: 87%;
        flex-direction: column;
    }

    .filtresgroup__first{
        width: 100%;
        margin-bottom: 5%;
    }

    .filtres__economique {
        width: 12rem;
    }

    .filtresgroup__last {
        display: flex;
        width: 40%;
        flex-direction: column;
    }

    .filtres__romantique{
        margin-bottom: 14%;
    }

    .filtrestexte {
        font-size: 15px;
    }
}

/*Tablette filtres min: 481px et max-width:1100px*/

@media screen and (min-width: 481px) and (max-width: 674px){
    .filtrestitle {
        font-size: 17px;
    }

    .mainfiltres {
        display: flex;
        flex-direction: column;
    }

    .filtresgroup__first {
        display: flex;
        flex-direction: column;
    }

    .filtres__familial {
        margin-left: 0%;
    }

    .filtresgroup__last{
        display: flex;
        flex-direction: column;        
    }

    .filtrestexte {
        font-size: 12px;
    }

    .touslesfiltres {
        height: 2rem;
        margin-bottom: 8%;
    }
    .filtres__economique {
        width: 96%;
    }

    .groupefiltresIcon {
        margin-right: 15%;
    }

    .fa-money-bill-wave {
        padding-left: 43%;
        padding-right: 43%;
        padding-top: 50%;
        padding-bottom: 50%;
        font-size: 97%;
    }

    .filtres__familial {
        width: 83%;
    }

    .fa-child {
        padding-left: 80%;
        padding-right: 80%;
        padding-top: 60%;
        padding-bottom: 60%;
        font-size: 17px;
        margin-right: 5%;
    }

    .filtres__romantique {
        width: 85%;
    }

    .fa-heart {
        padding: 55%;
        font-size: 16px;
        margin-right: 5%;
    }

    .filtres__animaux {
        width: 10rem;
    }

    .fa-dog {
        font-size: 16px;
        padding: 47%;
    }

}

@media screen and (min-width: 675px) and (max-width: 967px){
    .mainfiltres {
        display: flex;
        flex-direction: column;
    }
    
    .filtresgroup__first {
        display: flex;
        flex-direction: column;
    }

    .filtres__economique {
        margin-bottom: 5%;
    }

    .filtres__familial {
        margin-left: 0%;
    }

    .filtresgroup__last {
        display: flex;
        flex-direction: column;
    }    

    .filtres__romantique {
        margin-bottom: 3%;
    } 
    
    .filtrestexte {
        font-size: 15px;
    }
}

@media screen and (min-width: 968px) and (max-width: 1099px){
    .mainfiltres {
        display: flex;
        flex-direction: column;
    }

    .filtresgroup__first {
        display: flex;
        flex-direction: column;
        margin-right: 2%;
    }

    .filtres__economique {
        width: 11rem;
    }

    .filtres__familial {
        width: 9rem;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 5%;
    }

    .filtresgroup__last {
        display: flex;
        width: 60%;
    }

    .filtres__romantique {
        width: 14rem;
    }

    .filtres__animaux {
        width: 14rem;
    }

    .filtrestexte {
        font-size: 15px;
    }
}

/* Cards hébergements et populaire*/

.firstgroupcards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%; 
    margin-left: 3%;
}

@media screen and (max-width: 480px){
    .firstgroupcards{
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0%;
        width: 100%;
    }    
}

@media screen and (min-width: 481px) and (max-width: 1099px){
    .firstgroupcards{
        display: flex;
        flex-direction: column;
        margin-left: 3%;
        width: 100%;
    }    
}

/*Hebergements Cards*/

.images__hebergement{
    width: 95%;
    height:6rem;
    border-top-left-radius: 5%;    
    border-top-right-radius: 5%; 
    object-fit: cover;
    object-position: left;
    margin-left: 5px;
    margin-top: 2%;    
}

.hebergement{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 70%;
    border-radius: 2%;
    margin-right: 3%;
}

.hebergement__title{
    font-size: 22px;
    font-weight: bold;
    padding-top: 1%;
    padding-left: 3%;
    margin-top: 0%;
}

.cardshebergement{
    display:grid;
    grid-template-columns: 30% 30% 30%; 
    justify-content: space-between; 
    margin-right: 3%;
    margin-left: 3%;;
}    

.cardsheb{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    background-color: white;
    border-radius: 5%;
    margin-bottom: 9%;
}

.cardhebergement__content{
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    margin-top: 0%;
    padding-top: 0%;
    padding-left: 5%;
    padding-bottom: 5%;
}

.hebergementcardIcons{
    color: #0065FC;
}

.five{
    color: #DEEBFF;
}

.hebergementfooter{
    font-size: 18px;     
    padding-left: 3%;
    font-weight: bold; 
}

@media screen and (max-width: 480px){
    .images__hebergement{
        width: 95%;
        height: 9rem;
        border-top-left-radius: 5%;    
        border-top-right-radius: 5%; 
        object-fit: cover;
        object-position: left;
        margin-left: 5px;
        margin-top: 2%;    
    }

    .cardshebergement{
        display:grid;
        grid-template-columns: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .hebergement{
        display: flex;
        flex-direction: column; 
        width: 100%;
        background-color: white;
    }

    .hebergement__title{
        font-size: 20px;
        font-weight: bold;
        padding-left: 5%;
        margin-top: 0%;
    }

    .cardsheb{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        border-radius: 5%;
        box-shadow: 2px 2px 2px 2px #F2F2F2;
        margin-bottom: 5%;
        padding-left: 5px;
        padding-top: 5px;
        scroll-margin-left: 4%;
    }

    .cardhebergement__content{
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
    }

    .hebergementfooter{
        font-size: 15px;    
        margin-left: 1%;  
    }
}

@media screen and (min-width: 481px) and (max-width: 1099px){

    .hebergement{
        display: flex;
        flex-direction: column; 
        width: 97%;
        margin-bottom: 3%;        
    }

    .cardshebergement{
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        margin-right: 3%;
        margin-left: 3%;
    }

    .images__hebergement {
        width: 94%;
        height: 10rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-left: 3%;
        margin-top: 3%;
    }

    .hebergement__title{        
    text-align: center;
    font-size: 2rem;
    }

    .cardhebergement__content {
        font-size: 100%;
    }

    .hebergementfooter{
        text-align: center;
        font-size: 2rem;
        margin-top: -50px;
        margin-left: 0%; 
    }
    
}

/*partie populaire desktop*/

.populaire{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 2%;
    width: 30%;
}

.titlepopulaire{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 7%;
    font-size: 24px;
}


.titlepopulaireIcon{
    margin-top: 10px;
    margin-right: 10%;
}


.titlepopulaireOne{
    font-size: 10px;
    font-weight: bold;
    margin-left: 3%;
}

.popular__images{
    width: 100%;
    height: 94%;
    margin-top: 4px;
    margin-left: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.popularcardImage{
    width: 50%;
}

.populairecards{
    display: flex;
    flex-direction: column;
}

.popularcard{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-bottom: 5%;
    background-color: white;
    width: 80%;
    border-radius: 15px;   
}

.popularcardContent{
    font-family: 'Raleway', sans-serif;
    width: 45%;
    font-size: 72%;
    margin-left: 5%;
    padding-bottom: 5%;
    
}
/*Popular icons*/
.popularcardIcons{
    color: #0065FC;
    padding-top: 25%;
}

.four{
    color: #DEEBFF;
}

.fivestar{
    color: #DEEBFF;
}

@media screen and (min-width: 1100px) and (max-width: 1339px){
    .popularcardContent{
        font-size: 59%;        
    }
}

/*populaire mobile*/
@media screen and (max-width: 480px){
    .populaire{
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        width: 100%;
        border-radius: 0%;
    }

    .popularcard{
        margin-bottom: 3%;
        margin-left: 5%;
        width: 90%;
    }

    .popularcardContent{
        margin-left: 7%;       
    }
    
    .titlepopulaire{
        margin-left: 4%;
    }

    .titlepopulaireOne{
        margin-left: 0%;
    }

    .titlepopulaireIcon{
        margin-right: 5%;
    }  

}
/*Tablette populaires carte*/
@media screen and (min-width: 481px) and (max-width: 501px){
    .populaire{
        display: flex;
        flex-direction: column;
        width: 97%;
    }

    .popularcardContent {
        font-size: 14px;
    }
}

@media screen and (min-width: 502px) and (max-width: 727px){
    .populaire{
        display: flex;
        flex-direction: column;
        width: 97%;
    }

    .popularcardContent {
        font-size: 18px;
    }
}

@media screen and (min-width: 728px) and (max-width: 889px){
    .populaire{
        display: flex;
        flex-direction: column;
        width: 97%;
    }
    .popularcardContent {
        font-size: 22px;
    }
}

@media screen and (min-width: 890px) and (max-width: 1099px){
    .populaire{
        display: flex;
        flex-direction: column;
        width: 97%;
    }

    .popularcardContent{
        width: 45%;
        font-size: 27px;
        margin-left: 5%;
    }

    .popular__images{
        width: 100%;
        height: 94%;
        margin-top: 3%;
        margin-left: 3%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        object-fit: cover;
    } 
    .titlepopulaireOne{
        font-size: 1rem;
    }

    .titlepopulaireIcon {
        margin-right: 11%;
        font-size: 2rem;
        margin-top: 22px;
    }
    
}

/*carte activité*/
.activite{
    display: flex;
    flex-direction: column;  
    width:94%;
    margin-left: 3%;
    margin-top: 2%;
}

.titleactivite{
    font-size: 24px;
    font-weight: bold;
}
/* Cards activité*/

.cardsactivite{
    display: grid;
    grid-template-columns: 22.75% 22.75% 22.75% 25%;
    justify-content: space-between;
}

.activite__content{
    font-size: 10px;
    font-weight: bolder;
    height: 15%;
    padding-left:5%;
}

 /*prémière div et en même temps carte activités*/
.cardsactivite__vieuxport{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    border-radius: 20px;
}

.PremierImageActivity{
    width: 100%;
    height:350px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom:2%;
}

/*Deuxième partie*/

.cardsactivite__twoo{
    display: grid;
    grid-template-columns: column;
}

/*Deuxième div activités*/

.cardsactivite__fort{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    border-radius: 20px;
    margin-bottom: 10%;
}
.DeuxiemeImageActivite{
    width: 100%;
    height: 170px;
    object-fit: cover;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*Troisième div activités*/

.cardsactivite__iles{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    border-radius: 20px;
}

.TroisiemeImageActivite{
    width: 100%;
    height: 120px;
    object-fit: cover; 
    object-position: top;   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*Quatrième div activités*/
.cardsactivite__park{    
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    border-radius: 20px;
}
.QuatriemeImageActivite{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
/*Cinquieme div activités*/
.notredame{    
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    border-radius: 20px;
    padding-bottom:5%;
    margin-bottom: 8%;
}

.CinquiemeImageActivite{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*Sixième div activité*/

.cardsactivite__longchamp{
    display: flex;
    flex-direction: column;    
    width: 100%;
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    border-radius: 20px;
}

.SixiemeImageActivite{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media screen and (max-width: 480px){

    .activite{
        margin-left: 5%;
    }
    .cardsactivite{
        display: grid;
        grid-template-columns: 98%;
        margin-right: 0%;
        margin-bottom: 3%;
    }

    .titleactivite{
        margin-left: 0%;
    }

    .activite__image{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-bottom:2%;        
    }

    
    .cardsactivite__iles{        
        margin-bottom: 8%;
    }

    .cardsactivite__vieuxport{        
        margin-bottom: 8%;        
    }

    .cardsactivite__park{
        margin-bottom: 8%;         
    }
  
}

@media screen and (min-width: 481px) and (max-width: 1099px){

    .activite{
        width: 100%;
    }
    
    .cardsactivite {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-gap: 6%;
        margin-right: 5%;
    }    

    .titleactivite {
        text-align: center;
        font-size: 2rem;
    }

    .activite__content {
        font-size: 1rem;
    }
}

/*Footer*/

footer{
    font-family: 'Raleway', sans-serif;
    display: flex;
    width: 100%;
    margin-top: 2%;
    margin-bottom:0%;
    background-color: #f2f2f2;
}

.footer__apropos{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.footer__hebergement{
    display: flex;
    flex-direction: column;
    margin-left: 14%;
}
.footer__assistance{
    display: flex;
    flex-direction: column;
    margin-left: 17.5%;
}

.footertitle{
    font-size: 18px;
}

footer ul{
    display: flex;
    flex-direction: column;
    padding-left: 0%;
    list-style-type: none;  
}

footer ul li{
    padding-bottom: 4%;
}

.lien__footer{
    color:black;
}

.lien__footer:hover{
    color: #0065FC;
}

.lien__footer:link{
    text-decoration: none;    
}

@media screen and (max-width: 480px){
    footer{
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
    }

    .footer__apropos{
        display: flex;
        flex-direction: column;
        margin-left: 2%;
    }
    
    .footer__hebergement{
        display: flex;
        flex-direction: column;
        margin-left: 2%;
    }
    .footer__assistance{
        display: flex;
        flex-direction: column;
        margin-left: 2%;
    }
}

@media screen and (min-width: 481px) and (max-width: 1099px){

    footer{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .footer__hebergement{
        margin-left: 3%;
    }

    .footer__assistance{
        margin-left: 3%;
    }

    .footertitle{
        font-size: 2rem;
    }
    .lien__footer{
        font-size:22px ;
    }
}